.shop{
    width: 100%;
    min-height: 100vh;
    background-color: white;
}
.shop .heading{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1px;
    font-size: 4vmax;
    font-weight: bolder;
   
}