.nav{
    width: 100%;
    height: 30%;
    box-sizing: 0px 4px 10px rgb(0,0,0,0.534);  
}
.nav a{
    text-decoration: none;
    color: white;

}
.top-nav{
    width: 100%;
    height: 40%;
    background-color: rgb(25,29,33);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;

}
.bottom-nav{
    width: 100%;
    height: 20%;
    background-color: rgb(38, 45, 51);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: white;
    list-style: none;
    font-size: 18px;

}
.top-nav .logo{
    color: white;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;

}
.top-nav .search-box{
    width: 60%;
    height: 60%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    overflow: hidden;

}
.top-nav .search-box input{
    width: 70%;
    height: 100%;
    padding: 10px 20px; 
    border:none;
    outline: none;
    font-size: 18px;
}
.top-nav .search-box button{
    width:30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 30px;
    background-color:white;
    border:none;
    padding-right: 20px;
}
.cartb-box{
    position: relative;
}
.cart-box svg{
    color: white;
    width: 30px;
    height: 30px;
}
.cart-box span{
    color: white;
    position: absolute;
    top: 5px;
}
@media(max-width:800px){
    .top-nav .search-box{
        display: none;
    }
}

