.footer{
    width: 100%;
    height: 100px;
    background-color: black;
    color:rgb(20, 25, 29);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: white;
    font-size: 18px;
    margin-top: 30px;
}